<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/product/find/electric_guitar">Electric guitar</a>
    <a href="/product/find/acoustic_guitar">Acoustic guitar</a>
    <a href="/product/find/bass_guitar">Bass guitar</a>
    <a href="/product/find/synthesizer">Synthesizer</a>
    <a href="/product/find/drums">Drums</a>
    <a href="/product/find/headphones">Headphones</a>
    <a href="/product/find/microphone">Microphone</a>
</div>
</body>
</html>