<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <form>
            <div>
                <h2>Instruments:</h2>
                <h3>Guitars:</h3>
                <button formaction="/product/add/electric_guitar">Add electric guitar</button>
                <button formaction="/product/add/acoustic_guitar">Add acoustic guitar</button>
                <button formaction="/product/add/bass_guitar">Add bass guitar</button>
                <h3>Pianos:</h3>
                <button formaction="/product/add/synthesizer">Add synthesizer</button>
                <h3>Drums:</h3>
                <button formaction="/product/add/drums">Add drums</button>
                <h2>Equipment:</h2>
                <button formaction="/product/add/headphones">Add headphones</button>
                <button formaction="/product/add/microphone">Add microphone</button>
            </div>
        </form>
    </div>
    <a href="">Edit product</a>
    <a href="">Delete product</a>
</div>
</body>
</html>